*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Overlock+SC&family=Poiret+One&display=swap');

#landon {
    font-weight: 500px;
}

.nav-item {
    color: white
}

#About {
    margin-left: 0px;
    margin-top: 0px;
    height: 400px;
    background: linear-gradient(#220080,#0084ff);   
}

#Work {
    background: linear-gradient(#0084ff, black); 
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    box-sizing: border-box;
}

#Workbttm {
    background: black; 
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    box-sizing: border-box;
}

p {
    text-align: left;
    position: absolute;
    top: 150px;
    right: 50px;
    left: 320px;
    font-family: 'Overlock SC', cursive;
    font-size: 20px;
    color: black;
}

h1 {
    color: black;
    text-align: left;
    position: absolute;
    right: 500px;
    padding-top: 0px;
    font-family: 'Poiret One', cursive;

}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    width: 500px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: rgba(0, 0, 0, 0.932);
    position: relative;
    overflow: hidden;
}

.project-info {
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.project-info h4{
    margin-top: 0px;
}


.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(+101%);
    transition: transform 0.3s ease-in;
    color: black;
}

.project:hover .overview{
    transform: translateY(0);
}

h4{
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
#c-font{
    color: gold;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}