*{
    box-sizing: border-box;
}

#About {
    margin-left: 0px;
    margin-top: 0px;
    height: 400px;
    background: linear-gradient(#220080,#0084ff);   
}

#Work {
    background: linear-gradient(#0084ff, black); 
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

#Workbttm {
    background: black; 
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

p {
    text-align: left;
    position: absolute;
    top: 150px;
    right: 50px;
    left: 320px;
}

h1 {
    color: black;
    text-align: left;
    position: absolute;
    top: 100px;
    right: 10px;
    left: 750px;
    padding-top: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    width: 500px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: rgba(0, 0, 0, 0.932);
    position: relative;
    overflow: hidden;
}

.project-info {
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.project-info h4{
    margin-top: 0px;
}

.project-info h5 {

}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(+101%);
    transition: transform 0.3s ease-in;
    color: black;
}

.project:hover .overview{
    transform: translateY(0);
}
